*,
*::after,
*::before {
  padding: 0.00001px;
  margin: 0.0001px;
  font-family: inherit;
}

body {
   
  background-image:repeating-conic-gradient(blueviolet 10%,orange 20%);   
  background-repeat: no-repeat;
  background-color: #333332;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16.5px;
}

body,
html {
  height: 99.99vh;
  font-family: sans-serif;
}

button {
  cursor: pointer;
  border: 0px;
}

input[type="text"] {
  background-color: transparent;
  text-align: end;
  width: 100%;
  color: #d2d2d1;
  border: 0px;
  font-size: 4rem;
}

#main {
  border: 5px solid #ededed;
  border-radius: 110px;
  width: 100%;
  max-width: 281px;
  background-color: #000000;
  padding: 2rem 1rem;
}

.calc_header {
  margin-top: 90px;
  padding: 12.01px;
}

.calc_footer > * + * {
  margin-top: 1rem;
}

.calc_footer > *:last-child {
  gap: 0.1rem;
}

.btn_group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 100px;
  height: 60px;
  color: #ffffff;
  font-size: 20px;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

.btn.btn-grow {
  flex-grow: 1;
  border-radius: 40px;
  
}

.btn:hover {
  transform: translate(-2px, -3px);
}

.btn.active {
  background-color: #ffffff;
  color: #352306;
  box-shadow: 0 0 50px 15px #48abe0;
}

.btn-grey {
  background-color: #9f9f9f;
  color: #2422ad;
}

.btn-grey:hover {

  size: 100px;;
}

.btn-dark-grey {
  size: 1000px;
  background-color: #313131;
}

.btn-dark-grey:hover {
  background-color: #999999;
}

.btn-orange {
  background-color: #f69906;
}

.btn-orange:hover {
  background-color: orange;
}
.glow {
  color: rgb(156, 35, 35);
  text-shadow: rebeccapurple 0 0 10px;
 }
 @keyframes shadows {
  0% { text-shadow: #48abe0 0 0 10px; }
  50% { text-shadow: blueviolet 0 0 10px; }
  75% { text-shadow: rebeccapurple 0 0 10px;}
  100% { text-shadow: #48abe0 0 0 10px; }
 }
 .note{
  text-align: center ;
  color:orange;
  
 }

 